# Preprocess John Hopkins data

## import bibs

In [5]:
# do imports of bibs
import numpy as np
import pandas as pd
import math

## raed data from John Hopkins' Git repo

In [6]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

jh_ts_confirmed = pd.read_csv(url, error_bad_lines=False)

In [67]:
jh_ts_confirmed.head(-5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20
0,NaN,Afghanistan,33.00000,65.000000,0,0,0,0,0,0,...,22,22,22,24,24,40,40,74,84,94
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,55,59,64,70,76,89,104,123,146,174
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,60,74,87,90,139,201,230,264,302,367
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,39,39,53,75,88,113,133,164,188,224
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,1,2,2,3,3,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Recovered,Canada,0.00000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Laos,19.85627,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,3,6
240,NaN,Libya,26.33510,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
241,NaN,West Bank and Gaza,31.95220,35.233200,0,0,0,0,0,0,...,39,41,44,47,48,52,59,59,59,84
242,NaN,Guinea-Bissau,11.80370,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [35]:
jh_ts_confirmed.shape

(248, 69)

In [27]:
jh_ts_confirmed_time = jh_ts_confirmed.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])

In [70]:
jh_ts_confirmed_time01 = jh_ts_confirmed_time.unstack(level=-1).reset_index(name='cases')

In [71]:
jh_ts_confirmed_time01.rename(columns={'level_0': 'date', 'level_1': 'index'}, inplace=True)

In [72]:
jh_ts_confirmed_time01.head(-5)

          date  index  cases
0      1/22/20      0      0
1      1/22/20      1      0
2      1/22/20      2      0
3      1/22/20      3      0
4      1/22/20      4      0
...        ...    ...    ...
16110  3/26/20    238      0
16111  3/26/20    239      6
16112  3/26/20    240      1
16113  3/26/20    241     84
16114  3/26/20    242      2

[16115 rows x 3 columns]

In [37]:
jh_ts_confirmed_time01.shape

(16120, 3)

In [81]:
jh_ts_confirmed_country = jh_ts_confirmed[['Province/State', 'Country/Region', 'Lat', 'Long']]

In [82]:
jh_ts_confirmed_country.head()

  Province/State Country/Region      Lat     Long
0            NaN    Afghanistan  33.0000  65.0000
1            NaN        Albania  41.1533  20.1683
2            NaN        Algeria  28.0339   1.6596
3            NaN        Andorra  42.5063   1.5218
4            NaN         Angola -11.2027  17.8739

In [83]:
jh_ts_confirmed_country.shape

(248, 4)

In [84]:
jh_ts_confirmed_country.index.name = 'index'

In [85]:
jh_ts_confirmed_country.head()

      Province/State Country/Region      Lat     Long
index
0                NaN    Afghanistan  33.0000  65.0000
1                NaN        Albania  41.1533  20.1683
2                NaN        Algeria  28.0339   1.6596
3                NaN        Andorra  42.5063   1.5218
4                NaN         Angola -11.2027  17.8739

In [87]:
jh_ts_confirmed_country.index

RangeIndex(start=0, stop=248, step=1, name='index')

In [89]:
join = jh_ts_confirmed_time01.set_index('index').join(jh_ts_confirmed_country)

In [91]:
join.head(-5)

          date  cases Province/State Country/Region        Lat       Long
index
0      1/22/20      0            NaN    Afghanistan  33.000000  65.000000
0      1/23/20      0            NaN    Afghanistan  33.000000  65.000000
0      1/24/20      0            NaN    Afghanistan  33.000000  65.000000
0      1/25/20      0            NaN    Afghanistan  33.000000  65.000000
0      1/26/20      0            NaN    Afghanistan  33.000000  65.000000
...        ...    ...            ...            ...        ...        ...
247    3/17/20      0            NaN         Kosovo  42.602636  20.902977
247    3/18/20      0            NaN         Kosovo  42.602636  20.902977
247    3/19/20      0            NaN         Kosovo  42.602636  20.902977
247    3/20/20      0            NaN         Kosovo  42.602636  20.902977
247    3/21/20      0            NaN         Kosovo  42.602636  20.902977

[16115 rows x 6 columns]

In [96]:
cols = join.columns.tolist()

In [97]:
cols

['date', 'cases', 'Province/State', 'Country/Region', 'Lat', 'Long']

In [109]:
cols = cols[2:] + cols[:-4]

In [110]:
join = join[cols]

In [111]:
join

      Province/State Country/Region        Lat       Long     date  cases
index
0                NaN    Afghanistan  33.000000  65.000000  1/22/20      0
0                NaN    Afghanistan  33.000000  65.000000  1/23/20      0
0                NaN    Afghanistan  33.000000  65.000000  1/24/20      0
0                NaN    Afghanistan  33.000000  65.000000  1/25/20      0
0                NaN    Afghanistan  33.000000  65.000000  1/26/20      0
...              ...            ...        ...        ...      ...    ...
247              NaN         Kosovo  42.602636  20.902977  3/22/20      0
247              NaN         Kosovo  42.602636  20.902977  3/23/20      0
247              NaN         Kosovo  42.602636  20.902977  3/24/20      0
247              NaN         Kosovo  42.602636  20.902977  3/25/20      0
247              NaN         Kosovo  42.602636  20.902977  3/26/20     71

[16120 rows x 6 columns]

### write csv file to disk

In [112]:
join.to_csv('../../data/processed_data/jh_ts_confirmed_preprocessed.csv')

### Let's do some feature engineering

In [237]:
join = pd.read_csv('../../data/processed_data/jh_ts_confirmed_preprocessed.csv')

In [238]:
join = join.replace(np.nan, 'unknown', regex=True)

In [239]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0
...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71

In [240]:
join['Country_State'] = join['Province/State'] + '-' + join['Country/Region']

In [241]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,unknown-Afghanistan
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,unknown-Afghanistan
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,unknown-Afghanistan
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,unknown-Afghanistan
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,unknown-Afghanistan
...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,unknown-Kosovo
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,unknown-Kosovo
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,unknown-Kosovo
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,unknown-Kosovo
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,unknown-Kosovo

In [242]:
join['cases_cum'] = join.groupby(by=['Country_State'])['cases'].transform(lambda x: x.cumsum())

In [243]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,unknown-Afghanistan,0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,unknown-Afghanistan,0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,unknown-Afghanistan,0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,unknown-Afghanistan,0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,unknown-Afghanistan,0
...,...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,unknown-Kosovo,0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,unknown-Kosovo,0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,unknown-Kosovo,0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,unknown-Kosovo,0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,unknown-Kosovo,71

In [244]:
join['days_since_first_case_indicator'] = np.where(join['cases'] > 0, 1, 0)

In [245]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum,days_since_first_case_indicator
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,unknown-Afghanistan,0,0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,unknown-Afghanistan,0,0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,unknown-Afghanistan,0,0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,unknown-Afghanistan,0,0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,unknown-Afghanistan,0,0
...,...,...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,unknown-Kosovo,0,0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,unknown-Kosovo,0,0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,unknown-Kosovo,0,0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,unknown-Kosovo,0,0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,unknown-Kosovo,71,1

In [246]:
join['days_since_first_case'] = join.groupby(by=['Country_State'])['days_since_first_case_indicator'].transform(lambda x: x.cumsum())

In [247]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum,days_since_first_case_indicator,days_since_first_case
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,unknown-Afghanistan,0,0,0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,unknown-Afghanistan,0,0,0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,unknown-Afghanistan,0,0,0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,unknown-Afghanistan,0,0,0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,unknown-Afghanistan,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,unknown-Kosovo,0,0,0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,unknown-Kosovo,0,0,0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,unknown-Kosovo,0,0,0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,unknown-Kosovo,0,0,0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,unknown-Kosovo,71,1,1

In [315]:
join = join.drop(columns=['Country_State', 'days_since_first_case_indicator'])

In [316]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,cases_cum,days_since_first_case,growth_rate
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,0,0,0.0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,0,0,0.0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,0,0,0.0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,0,0,0.0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,0,0,0.0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,0,0,0.0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,0,0,0.0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,0,0,0.0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,71,1,inf

In [322]:
a = []
for i in range(len(join.index)):
    if i == 0:
        a.append(join['cases_cum'].iloc[i])
    elif 1 != 0:
        a.append( (join['cases_cum'].iloc[i] - join['cases_cum'].iloc[i -1]) / join['cases_cum'].iloc[i -1] )

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in long_scalars

In [323]:
a = [0.0 if math.isnan(x) else 1 if x > 1 else 0 if x < 0 else x for x in a]

In [324]:
a

[0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1,
 0.09090909090909091,
 0.08333333333333333,
 0.3076923076923077,
 0.23529411764705882,
 0.23809523809523808,
 0.2692307692307692,
 0.21212121212121213,
 0.175,
 0.23404255319148937,
 0.27586206896551724,
 0.28378378378378377,
 0.23157894736842105,
 0.18803418803418803,
 0.15827338129496402,
 0.14906832298136646,
 0.12972972972972974,
 0.19138755980861244,
 0.1606425702811245,
 0.2560553633217993,
 0.23140495867768596,
 0.21029082774049218,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 1.0,
 0.9583333333333334,
 0.7021276595744681,
 0.475,
 0.3559322033898305,
 0.31875,
 0.26066350710900477,
 0.22180451127819548,
 0.19692307692307692,
 0.17994858611825193,
 0.1655773420479303,
 0.16635514018691588,
 0.16666666666666666,
 0.16895604395604397,
 0.17156286721504113,
 0.17452357071213642,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.5,
 0.5555555555555556,
 0.8571428571428571,
 0.46153846153846156,
 0.4473684210526316,
 0.3090909090909091,
 0.2638888888888889,
 0.21978021978021978,
 0.18018018018018017,
 0.15267175572519084,
 0.15894039735099338,
 0.14857142857142858,
 0.18407960199004975,
 0.20168067226890757,
 0.1888111888111888,
 0.17647058823529413,
 0.185,
 0.18354430379746836,
 0.16042780748663102,
 0.21351766513056836,
 0.25443037974683547,
 0.23208879919273462,
 0.21621621621621623,
 0.20336700336700336,
 0.20537213206491325,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1,
 0.09090909090909091,
 0.08333333333333333,
 0.07692307692307693,
 0.14285714285714285,
 1,
 0.7090909090909091,
 0.5638297872340425,
 0.5102040816326531,
 0.3963963963963964,
 0.36451612903225805,
 0.3144208037825059,
 0.2949640287769784,
 0.2611111111111111,
 0.24669603524229075,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.6666666666666666,
 0.6,
 0.375,
 0.2727272727272727,
 0.2857142857142857,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.3,
 0.23076923076923078,
 0.1875,
 0.3684210526315789,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.6666666666666666,
 1,
 0.9230769230769231,
 0.48,
 0.4594594594594595,
 0.35185185185185186,
 0.2602739726027397,
 0.33695652173913043,
 0.2764227642276423,
 0.28662420382165604,
 0.27722772277227725,
 0.26356589147286824,
 0.24233128834355827,
 0.23950617283950618,
 0.2549800796812749,
 0.2507936507936508,
 0.33756345177664976,
 0.2855787476280835,
 0.2856088560885609,
 0.22215843857634904,
 0.23579145138562704,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1,
 0.36363636363636365,
 0.5333333333333333,
 0.782608695652174,
 0.6341463414634146,
 0.7761194029850746,
 0.6554621848739496,
 0.4263959390862944,
 0.4092526690391459,
 0.3434343434343434,
 0.3007518796992481,
 0.28034682080924855,
 0.2652370203160271,
 0.22212310437109722,
 0.19343065693430658,
 0.17737003058103976,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.6666666666666666,
 0.4,
 0.42857142857142855,
 0.4,
 0.42857142857142855,
 0.45,
 0.6551724137931034,
 0.6666666666666666,
 0.4875,
 0.3277310924369748,
 0.33544303797468356,
 0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.5714285714285714,
 0.36363636363636365,
 0.26666666666666666,
 0.21052631578947367,
 0.17391304347826086,
 0.14814814814814814,
 0.12903225806451613,
 0.11428571428571428,
 0.10256410256410256,
 0.09302325581395349,
 0.0851063829787234,
 0.0784313725490196,
 0.07272727272727272,
 0.06779661016949153,
 0.06349206349206349,
 0.05970149253731343,
 0.056338028169014086,
 0.05333333333333334,
 0.05063291139240506,
 0.04819277108433735,
 0.04597701149425287,
 0.04395604395604396,
 0.042105263157894736,
 0.04040404040404041,
 0.038834951456310676,
 0.037383177570093455,
 0.036036036036036036,
 0.034782608695652174,
 0.03361344537815126,
 0.032520325203252036,
 0.031496062992125984,
 0.030534351145038167,
 0.02962962962962963,
 0.04316546762589928,
 0.041379310344827586,
 0.08609271523178808,
 0.13414634146341464,
 0.11827956989247312,
 0.125,
 0.11965811965811966,
 0.1450381679389313,
 0.16,
 0.15804597701149425,
 0.16129032258064516,
 0.1388888888888889,
 0.1726078799249531,
 0.1792,
 0.18181818181818182,
 0.19632606199770378,
 0.20153550863723607,
 0.213258785942492,
 0.20210664911125742,
 0.19331872946330778,
 0.20009178522257917,
 0.25583173996175906,
 0.20371498172959804,
 0.2069314444725525,
 0.21567805491511213,
 0.21017241379310345,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1,
 0.09090909090909091,
 0.25,
 0.2,
 0.2777777777777778,
 0.21739130434782608,
 0.21428571428571427,
 0.17647058823529413,
 0.3,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.5,
 0.5,
 0.2222222222222222,
 0.18181818181818182,
 0.23076923076923078,
 0.1875,
 0.21052631578947367,
 0.21739130434782608,
 0.17857142857142858,
 0.15151515151515152,
 0.13157894736842105,
 0.11627906976744186,
 0.10416666666666667,
 0.09433962264150944,
 0.08620689655172414,
 0.07936507936507936,
 0.07352941176470588,
 0.0684931506849315,
 0.0641025641025641,
 0.060240963855421686,
 0.056818181818181816,
 0.053763440860215055,
 0.05102040816326531,
 0.04854368932038835,
 0.046296296296296294,
 0.04424778761061947,
 0.0423728813559322,
 0.04065040650406504,
 0.0390625,
 0.06766917293233082,
 0.06338028169014084,
 0.059602649006622516,
 0.06875,
 0.06432748538011696,
 0.07142857142857142,
 0.06666666666666667,
 0.0625,
 0.06787330316742081,
 0.0635593220338983,
 0.07171314741035857,
 0.07434944237918216,
 0.06920415224913495,
 0.11326860841423948,
 0.13372093023255813,
 0.1564102564102564,
 0.15077605321507762,
 0.15028901734104047,
 0.1574539363484087,
 0.20839363241678727,
 0.22035928143712574,
 0.2168792934249264,
 0.20887096774193548,
 0.21280853902601735,
 0.21837183718371836,
 0.2,
 0.1854778028592927,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1,
 0.6666666666666666,
 0.4,
 0.2857142857142857,
 0.2222222222222222,
 0.18181818181818182,
 0.15384615384615385,
 0.13333333333333333,
 0.11764705882352941,
 0.10526315789473684,
 0.09523809523809523,
 0.08695652173913043,
 0.08,
 0.07407407407407407,
 0.06896551724137931,
 0.06451612903225806,
 0.06060606060606061,
 0.05714285714285714,
 0.05405405405405406,
 0.05128205128205128,
 0.04878048780487805,
 0.046511627906976744,
 0.044444444444444446,
 0.0425531914893617,
 0.04081632653061224,
 0.0392156862745098,
 0.03773584905660377,
 0.05454545454545454,
 0.05172413793103448,
 0.04918032786885246,
 0.046875,
 0.07462686567164178,
 0.06944444444444445,
 0.09090909090909091,
 0.08333333333333333,
 0.07692307692307693,
 0.07142857142857142,
 0.06666666666666667,
 0.08035714285714286,
 0.0743801652892562,
 0.12307692307692308,
 0.13013698630136986,
 0.12121212121212122,
 0.15675675675675677,
 0.13551401869158877,
 0.1522633744855967,
 0.15,
 0.15527950310559005,
 0.18010752688172044,
 0.22779043280182232,
 0.24860853432282004,
 0.2526002971768202,
 0.20166073546856464,
 0.23198420533070088,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.3333333333333333,
 0.25,
 0.2,
 0.25,
 0.2,
 0.2777777777777778,
 0.21739130434782608,
 0.21428571428571427,
 0.20588235294117646,
 0.17073170731707318,
 0.20833333333333334,
 0.1724137931034483,
 0.14705882352941177,
 0.20512820512820512,
 0.23404255319148937,
 0.2413793103448276,
 0.19444444444444445,
 0.20930232558139536,
 0.22596153846153846,
 0,
 0.0,
 0.0,
 0.0,
 1,
 1.0,
 0.5,
 0.3333333333333333,
 0.5,
 0.5,
 0.4444444444444444,
 0.3076923076923077,
 0.23529411764705882,
 0.19047619047619047,
 0.16,
 0.13793103448275862,
 0.12121212121212122,
 0.10810810810810811,
 0.0975609756097561,
 0.08888888888888889,
 0.08163265306122448,
 0.07547169811320754,
 0.07017543859649122,
 0.06557377049180328,
 0.06153846153846154,
 0.057971014492753624,
 0.0547945205479452,
 0.05194805194805195,
 0.04938271604938271,
 0.047058823529411764,
 0.0449438202247191,
 0.043010752688172046,
 0.041237113402061855,
 0.039603960396039604,
 0.0380952380952381,
 0.03669724770642202,
 0.035398230088495575,
 0.03418803418803419,
 0.05785123966942149,
 0.0546875,
 0.06666666666666667,
 0.0625,
 0.06535947712418301,
 0.06134969325153374,
 0.057803468208092484,
 0.060109289617486336,
 0.05670103092783505,
 0.07317073170731707,
 0.08181818181818182,
 0.08823529411764706,
 0.08108108108108109,
 0.12857142857142856,
 0.1550632911392405,
 0.15616438356164383,
 0.16824644549763032,
 0.19066937119675456,
 0.2061328790459966,
 0.1709039548022599,
 0.14595898673100122,
 0.24105263157894738,
 0.3011026293469042,
 0.23142112125162972,
 0.21757543673901536,
 0.2026086956521739,
 0.18799710773680406,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 ...]

In [286]:
join['growth_rate'] = a

In [287]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum,days_since_first_case_indicator,days_since_first_case,growth_rate
0,0,unknown,Afghanistan,33.000000,65.000000,1/22/20,0,unknown-Afghanistan,0,0,0,0.0
1,0,unknown,Afghanistan,33.000000,65.000000,1/23/20,0,unknown-Afghanistan,0,0,0,0.0
2,0,unknown,Afghanistan,33.000000,65.000000,1/24/20,0,unknown-Afghanistan,0,0,0,0.0
3,0,unknown,Afghanistan,33.000000,65.000000,1/25/20,0,unknown-Afghanistan,0,0,0,0.0
4,0,unknown,Afghanistan,33.000000,65.000000,1/26/20,0,unknown-Afghanistan,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16115,247,unknown,Kosovo,42.602636,20.902977,3/22/20,0,unknown-Kosovo,0,0,0,0.0
16116,247,unknown,Kosovo,42.602636,20.902977,3/23/20,0,unknown-Kosovo,0,0,0,0.0
16117,247,unknown,Kosovo,42.602636,20.902977,3/24/20,0,unknown-Kosovo,0,0,0,0.0
16118,247,unknown,Kosovo,42.602636,20.902977,3/25/20,0,unknown-Kosovo,0,0,0,0.0
16119,247,unknown,Kosovo,42.602636,20.902977,3/26/20,71,unknown-Kosovo,71,1,1,inf

### write csv file to disk

In [251]:
join.to_csv('../../data/processed_data/jh_ts_confirmed_preprocessed_2.csv')