# Data preprocessing joining cases with airports

In [8]:
import numpy as np
import pandas as pd

In [52]:
cases = pd.read_csv('../../data/processed_data/jh_ts_confirmed_preprocessed.csv')

In [53]:
cases

,index,Country/Region,Lat,Long,date,days,days_since_first_case,cases,cases_cum,growth_rate
0,0,Afghanistan,33.0000,65.000,2020-01-22,0,0,0,0,0.0
1,0,Afghanistan,33.0000,65.000,2020-01-23,1,0,0,0,0.0
2,0,Afghanistan,33.0000,65.000,2020-01-24,2,0,0,0,0.0
3,0,Afghanistan,33.0000,65.000,2020-01-25,3,0,0,0,0.0
4,0,Afghanistan,33.0000,65.000,2020-01-26,4,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
16429,248,Burma,21.9162,95.956,2020-03-23,61,0,0,0,0.0
16430,248,Burma,21.9162,95.956,2020-03-24,62,0,0,0,0.0
16431,248,Burma,21.9162,95.956,2020-03-25,63,0,0,0,0.0
16432,248,Burma,21.9162,95.956,2020-03-26,64,0,0,0,0.0
16433,248,Burma,21.9162,95.956,2020-03-27,65,1,8,8,1.0

In [54]:
airports = pd.read_csv('../../data/processed_data/airports_per_country.csv')

In [55]:
airports = airports.drop(columns=['City', 'Name', 'no. of Airports'])

In [56]:
airports = airports.drop_duplicates()

In [57]:
airports

                               country  airports_cum
0                              Hungary          16.0
16                            Honduras          12.0
28                             Eritrea           3.0
31                          Mauritania          11.0
42    Saint Vincent and the Grenadines           5.0
...                                ...           ...
5420                  Diamond Princess           0.0
5421                    United Kingdom         167.0
5588                             Kenya          35.0
5623                           Tunisia          13.0
5636                             Italy          83.0

[176 rows x 2 columns]

In [58]:
#cases_airports = cases_airports.drop(columns=['Province/State'])

In [59]:
cases_airports = cases.join(airports.set_index('country'), on='Country/Region')

In [60]:
cases_airports

,index,Country/Region,Lat,Long,date,days,days_since_first_case,cases,cases_cum,growth_rate,airports_cum
0,0,Afghanistan,33.0000,65.000,2020-01-22,0,0,0,0,0.0,22.0
1,0,Afghanistan,33.0000,65.000,2020-01-23,1,0,0,0,0.0,22.0
2,0,Afghanistan,33.0000,65.000,2020-01-24,2,0,0,0,0.0,22.0
3,0,Afghanistan,33.0000,65.000,2020-01-25,3,0,0,0,0.0,22.0
4,0,Afghanistan,33.0000,65.000,2020-01-26,4,0,0,0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...
16429,248,Burma,21.9162,95.956,2020-03-23,61,0,0,0,0.0,43.0
16430,248,Burma,21.9162,95.956,2020-03-24,62,0,0,0,0.0,43.0
16431,248,Burma,21.9162,95.956,2020-03-25,63,0,0,0,0.0,43.0
16432,248,Burma,21.9162,95.956,2020-03-26,64,0,0,0,0.0,43.0
16433,248,Burma,21.9162,95.956,2020-03-27,65,1,8,8,1.0,43.0

In [61]:
cases_airports.drop_duplicates()

,index,Country/Region,Lat,Long,date,days,days_since_first_case,cases,cases_cum,growth_rate,airports_cum
0,0,Afghanistan,33.0000,65.000,2020-01-22,0,0,0,0,0.0,22.0
1,0,Afghanistan,33.0000,65.000,2020-01-23,1,0,0,0,0.0,22.0
2,0,Afghanistan,33.0000,65.000,2020-01-24,2,0,0,0,0.0,22.0
3,0,Afghanistan,33.0000,65.000,2020-01-25,3,0,0,0,0.0,22.0
4,0,Afghanistan,33.0000,65.000,2020-01-26,4,0,0,0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...
16429,248,Burma,21.9162,95.956,2020-03-23,61,0,0,0,0.0,43.0
16430,248,Burma,21.9162,95.956,2020-03-24,62,0,0,0,0.0,43.0
16431,248,Burma,21.9162,95.956,2020-03-25,63,0,0,0,0.0,43.0
16432,248,Burma,21.9162,95.956,2020-03-26,64,0,0,0,0.0,43.0
16433,248,Burma,21.9162,95.956,2020-03-27,65,1,8,8,1.0,43.0

In [62]:
cases_airports.to_csv('../../data/processed_data/cases_airports.csv', index=False, sep=',', encoding='utf-8')